# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/
capture/
local.properties
.navigation/

# Android specifiche
/captures/
*.apk
*.ap_
*.dex
*.class
bin/
gen/

# Kotlin
.kotlin/
kotlin-daemon-embeddable-*.jar

# Cartelle di release (corretto)
/app/release/

# Log e file temporanei
*.log
.DS_Store